consumes:
- application/json
host: pypa-api-development.endpoints.huko-312103.cloud.goog
info:
  description: Pypa API specification, across all products.
  title: Pypa Endpoint for Development
  version: 1.0.0
paths:
  "/":
    get: &id001
      description: ' '
      produces:
      - application/json
      responses:
        200:
          description: ' '
      security:
      - api_key: []
        pypa_auth: []
    options: *id001
  "/generate_yaml":
    get: &id002
      description: ' Generate Yaml'
      produces:
      - application/json
      responses:
        200:
          description: ' Generate Yaml'
      security:
      - api_key: []
        pypa_auth: []
    options: *id002
  "/getUsers":
    get: &id003
      description: ' Getusers'
      produces:
      - application/json
      responses:
        200:
          description: ' Getusers'
      security:
      - api_key: []
        pypa_auth: []
    options: *id003
  "/get_csv_data":
    options: &id004
      description: ' Get Csv Data'
      produces:
      - application/json
      responses:
        200:
          description: ' Get Csv Data'
      security:
      - api_key: []
        pypa_auth: []
    post: *id004
  "/login":
    options: &id005
      description: ' Login'
      produces:
      - application/json
      responses:
        200:
          description: ' Login'
      security:
      - api_key: []
        pypa_auth: []
    post: *id005
  /multi/level/url/test/{user_id}/{org_id}:
    get: &id006
      description: ' Multi Level Url Test  User Id   Org Id '
      parameters:
      - description: Input for user_id
        in: path
        name: user_id
        required: true
        type: string
      - description: Input for org_id
        in: path
        name: org_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        200:
          description: ' Multi Level Url Test  User Id   Org Id '
      security:
      - api_key: []
        pypa_auth: []
    options: *id006
    post: *id006
  "/register":
    options: &id007
      description: ' Register'
      produces:
      - application/json
      responses:
        200:
          description: ' Register'
      security:
      - api_key: []
        pypa_auth: []
    post: *id007
  /{path:filename}:
    get: &id008
      description: '  Path Filename '
      parameters:
      - description: Input for path:filename
        in: path
        name: path:filename
        required: true
        type: string
      produces:
      - application/json
      responses:
        200:
          description: '  Path Filename '
      security:
      - api_key: []
        pypa_auth: []
    options: *id008
produces:
- application/json
schemes:
- https
- http
security:
- api_key: []
  pypa_auth: []
securityDefinitions:
  api_key:
    in: header
    name: x-api-key
    type: apiKey
  pypa_auth:
    authorizationUrl: ''
    flow: implicit
    type: oauth2
    x-google-audiences: pypa-api-development.endpoints.huko-312103.cloud.goog
    x-google-issuer: development-endpoint-service@huko-312103.iam.gserviceaccount.com
    x-google-jwks_uri: 'https: //www.googleapis.com/service_accounts/v1/metadata/x509/development-endpoint-service@huko-312103.iam.gserviceaccount.com'
swagger: '2.0'
x-google-endpoints:
- name: pypa-api-development.endpoints.huko-312103.cloud.goog
  target: 34.149.86.33
