consumes:
- application/json
host: pypa-api-development.endpoints.huko-312103.cloud.goog
info:
  description: Pypa API specification, across all products.
  title: Pypa Endpoint for Development
  version: 1.0.0
paths:
  "/":
    get:
      consumes:
      - application/json
      parameters: []
      responses:
        200:
          description: Success
      summary: Upload File Page
    options:
      description: ' '
      parameters: []
      produces:
      - application/json
      responses:
        200:
          description: ' '
      security:
      - api_key: []
        pypa_auth: []
  "/accounts/authentication/app_registrations/getUsers":
    get:
      consumes:
      - application/json
      parameters: []
      responses:
        200:
          description: Success
      summary: Getusers
    options:
      description: ' Accounts Authentication App Registrations Getusers'
      parameters: []
      produces:
      - application/json
      responses:
        200:
          description: ' Accounts Authentication App Registrations Getusers'
      security:
      - api_key: []
        pypa_auth: []
  "/accounts/authentication/app_registrations/login":
    options:
      description: ' Accounts Authentication App Registrations Login'
      parameters:
      - &id001
        description: The user to create.
        in: body
        name: Login
        schema:
          properties:
            password:
              maxLength: 10
              minLength: 5
              type: string
            username:
              maxLength: 10
              minLength: 5
              type: string
          required:
          - username
          - password
          type: object
      produces:
      - application/json
      responses:
        200:
          description: ' Accounts Authentication App Registrations Login'
      security:
      - api_key: []
        pypa_auth: []
    post:
      consumes:
      - application/json
      parameters:
      - *id001
      responses:
        200:
          description: Success
      summary: Login
  "/accounts/authentication/app_registrations/register":
    options:
      description: ' Accounts Authentication App Registrations Register'
      parameters:
      - &id002
        description: The user to create.
        in: body
        name: Register
        schema:
          properties:
            password:
              maxLength: 10
              minLength: 5
              type: string
            username:
              maxLength: 10
              minLength: 5
              type: string
          required:
          - username
          - password
          type: object
      produces:
      - application/json
      responses:
        200:
          description: ' Accounts Authentication App Registrations Register'
      security:
      - api_key: []
        pypa_auth: []
    post:
      consumes:
      - application/json
      parameters:
      - *id002
      responses:
        200:
          description: Success
      summary: Register
  /accounts/test_url/test/{user_id}/{org_id}:
    get:
      consumes:
      - application/json
      parameters:
      - &id003
        description: Input for org_id
        in: path
        name: org_id
        required: true
        type: string
      - &id004
        description: Input for user_id
        in: path
        name: user_id
        required: true
        type: string
      responses:
        200:
          description: Success
      summary: Test
    options:
      description: ' Accounts Test Url Test  User Id   Org Id '
      parameters:
      - *id003
      - *id004
      - &id005
        description: The user to create.
        in: body
        name: Test
        schema:
          properties:
            phone:
              maxLength: 10
              minLength: 5
              type: number
            pin_code:
              maxLength: 10
              minLength: 5
              type: number
          required:
          - user_id
          - org_id
          type: object
      produces:
      - application/json
      responses:
        200:
          description: ' Accounts Test Url Test  User Id   Org Id '
      security:
      - api_key: []
        pypa_auth: []
    post:
      consumes:
      - application/json
      parameters:
      - *id003
      - *id004
      - *id005
      responses:
        200:
          description: Success
      summary: Test
  "/utility/swagger/UI/generate_csv_data":
    options:
      description: ' Utility Swagger Ui Generate Csv Data'
      parameters:
      - &id006
        description: The user to create.
        in: body
        name: Generate Csv Data
        schema: {}
      produces:
      - application/json
      responses:
        200:
          description: ' Utility Swagger Ui Generate Csv Data'
      security:
      - api_key: []
        pypa_auth: []
    post:
      consumes:
      - application/json
      parameters:
      - *id006
      responses:
        200:
          description: Success
      summary: Generate Csv Data
  "/utility/swagger/UI/generate_yaml":
    get:
      consumes:
      - application/json
      parameters: []
      responses:
        200:
          description: Success
      summary: Generate Yaml
    options:
      description: ' Utility Swagger Ui Generate Yaml'
      parameters: []
      produces:
      - application/json
      responses:
        200:
          description: ' Utility Swagger Ui Generate Yaml'
      security:
      - api_key: []
        pypa_auth: []
  /{path:filename}:
    get:
      consumes:
      - application/json
      parameters:
      - &id007
        description: Input for filename
        in: path
        name: filename
        required: true
        type: string
      responses:
        200:
          description: Success
      summary: Static
    options:
      description: '  Path Filename '
      parameters:
      - *id007
      produces:
      - application/json
      responses:
        200:
          description: '  Path Filename '
      security:
      - api_key: []
        pypa_auth: []
produces:
- application/json
schemes:
- https
- http
security:
- api_key: []
  pypa_auth: []
securityDefinitions:
  api_key:
    in: header
    name: x-api-key
    type: apiKey
  pypa_auth:
    authorizationUrl: ''
    flow: implicit
    type: oauth2
    x-google-audiences: pypa-api-development.endpoints.huko-312103.cloud.goog
    x-google-issuer: development-endpoint-service@huko-312103.iam.gserviceaccount.com
    x-google-jwks_uri: 'https: //www.googleapis.com/service_accounts/v1/metadata/x509/development-endpoint-service@huko-312103.iam.gserviceaccount.com'
swagger: '2.0'
x-google-endpoints:
- name: pypa-api-development.endpoints.huko-312103.cloud.goog
  target: 34.149.86.33
