consumes:
- application/json
host: pypa-api-development.endpoints.huko-312103.cloud.goog
info:
  description: Pypa API specification, across all products.
  title: Pypa Endpoint for Development
  version: 1.0.0
paths:
  "/":
    get:
      consumes:
      - application/json
      parameters: []
      responses:
        200: &id001
          description: Success
      summary: Upload File Page
    options:
      description: Upload File Page
      parameters: []
      produces:
      - application/json
      responses:
        200: *id001
      security:
      - api_key: []
        pypa_auth: []
      summary: Upload File Page
  "/accounts/authentication/app_registrations/getUsers":
    get:
      consumes:
      - application/json
      parameters: []
      responses:
        200: &id002
          description: Success
      summary: Getusers
    options:
      description: Getusers
      parameters: []
      produces:
      - application/json
      responses:
        200: *id002
      security:
      - api_key: []
        pypa_auth: []
      summary: Getusers
  "/accounts/authentication/app_registrations/login":
    options:
      description: Login
      parameters:
      - &id003
        description: ' Accounts Authentication App Registrations Login'
        in: body
        name: Login
        schema:
          properties:
            password:
              maxLength: 10
              minLength: 5
              type: string
            username:
              maxLength: 10
              minLength: 5
              type: string
          required:
          - username
          - password
          type: object
      produces:
      - application/json
      responses:
        200: &id004
          description: Success
      security:
      - api_key: []
        pypa_auth: []
      summary: Login
    post:
      consumes:
      - application/json
      parameters:
      - *id003
      responses:
        200: *id004
      summary: Login
  "/accounts/authentication/app_registrations/register":
    options:
      description: Register
      parameters:
      - &id005
        description: ' Accounts Authentication App Registrations Register'
        in: body
        name: Register
        schema:
          properties:
            password:
              maxLength: 10
              minLength: 5
              type: string
            username:
              maxLength: 10
              minLength: 5
              type: string
          required:
          - username
          - password
          type: object
      produces:
      - application/json
      responses:
        200: &id006
          description: Success
      security:
      - api_key: []
        pypa_auth: []
      summary: Register
    post:
      consumes:
      - application/json
      parameters:
      - *id005
      responses:
        200: *id006
      summary: Register
  "/accounts/test_url/test/underTest/{employee_id}":
    get:
      consumes:
      - application/json
      parameters:
      - &id007
        description: Input for employee_id
        in: path
        name: employee_id
        required: true
        type: string
      responses:
        200: &id008
          description: Success
      summary: Undertest
    options:
      description: Undertest
      parameters:
      - *id007
      - &id009
        description: ' Accounts Test Url Test Undertest  Employee Id '
        in: body
        name: Undertest
        schema: &id010
          properties:
            phone:
              maxLength: 10
              minLength: 5
              type: number
            pin_code:
              maxLength: 10
              minLength: 5
              type: number
          required:
          - user_id
          - org_id
          type: object
      produces:
      - application/json
      responses:
        200: *id008
      security:
      - api_key: []
        pypa_auth: []
      summary: Undertest
    patch:
      consumes:
      - application/json
      parameters:
      - *id007
      - *id009
      responses:
        200: *id008
      summary: Undertest
    post:
      consumes:
      - application/json
      parameters:
      - *id007
      - description: ' Accounts Test Url Test Undertest  Employee Id '
        in: body
        name: Undertest
        schema: *id010
      responses:
        200: *id008
      summary: Undertest
  "/accounts/test_url/test/{user_id}/{org_id}":
    get:
      consumes:
      - application/json
      parameters:
      - &id011
        description: Input for user_id
        in: path
        name: user_id
        required: true
        type: string
      - &id012
        description: Input for org_id
        in: path
        name: org_id
        required: true
        type: string
      responses:
        200: &id013
          description: Success
      summary: Test
    options:
      description: Test
      parameters:
      - *id011
      - *id012
      - &id014
        description: ' Accounts Test Url Test  User Id   Org Id '
        in: body
        name: Test
        schema: *id010
      produces:
      - application/json
      responses:
        200: *id013
      security:
      - api_key: []
        pypa_auth: []
      summary: Test
    post:
      consumes:
      - application/json
      parameters:
      - *id011
      - *id012
      - *id014
      responses:
        200: *id013
      summary: Test
  "/utility/swagger/UI/generate_csv_data":
    options:
      description: Generate Csv Data
      parameters:
      - &id015
        description: ' Utility Swagger Ui Generate Csv Data'
        in: body
        name: Generate Csv Data
        schema: {}
      produces:
      - application/json
      responses:
        200: &id016
          description: Success
      security:
      - api_key: []
        pypa_auth: []
      summary: Generate Csv Data
    post:
      consumes:
      - application/json
      parameters:
      - *id015
      responses:
        200: *id016
      summary: Generate Csv Data
  "/utility/swagger/UI/generate_yaml":
    get:
      consumes:
      - application/json
      parameters: []
      responses:
        200: &id017
          description: Success
      summary: Generate Yaml
    options:
      description: Generate Yaml
      parameters: []
      produces:
      - application/json
      responses:
        200: *id017
      security:
      - api_key: []
        pypa_auth: []
      summary: Generate Yaml
produces:
- application/json
schemes:
- https
- http
security:
- api_key: []
  pypa_auth: []
securityDefinitions:
  api_key:
    in: header
    name: x-api-key
    type: apiKey
  pypa_auth:
    authorizationUrl: ''
    flow: implicit
    type: oauth2
    x-google-audiences: pypa-api-development.endpoints.huko-312103.cloud.goog
    x-google-issuer: development-endpoint-service@huko-312103.iam.gserviceaccount.com
    x-google-jwks_uri: 'https: //www.googleapis.com/service_accounts/v1/metadata/x509/development-endpoint-service@huko-312103.iam.gserviceaccount.com'
swagger: '2.0'
x-google-endpoints:
- name: pypa-api-development.endpoints.huko-312103.cloud.goog
  target: 34.149.86.33
